<header>
    <div class="container">
        <h1 class="header-logo">
            <a href="{{ path('app_home') }}">
                Synfoxite
            </a>
        </h1>
        {% include "partials/navbar.html.twig" %}
    </div>
</header>