<header class="text-center bg-dark py-3">
    <div class="container">
        <h1 class="header-logo">
            <a href="{{ path('app_home') }}" class="text-decoration-none text-white">
                Symfoxite
            </a>
        </h1>
        {% include "partials/navbar.html.twig" %}
    </div>
</header>
