<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}TP Bucket{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
          
        {% endblock %}
    </head>
    <body class="d-flex flex-column"></body>
        {# header #}
        {% include "partials/header.html.twig" %}
        <main class="flex-grow-1">
            <div class="container">

                <div id="notif">{% include "partials/notif.html.twig" %}</div>
                {% block body %}{% endblock %}
            </div>
        </main>
        {% include "partials/footer.html.twig" %}
    </body>
</html>
